table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: lightgray;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
    position: relative;
}

table td, table th {
    padding: 10px;
    text-align: left;
}

table thead tr {
    background: #509DE5;
    color: ghostwhite;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    color: ghostwhite;
    background-color: darkgray;
    cursor: pointer;
}

table a {
    text-decoration: none;
}

.column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-delete:hover {
    color: #9d0e03;
    font-weight: bold;
}
